body{
    background-color: #F7ECDE;
}
h1{
    font-family: "Pacifico", cursive;
    font-size: 50px;   
}
h1::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 38%;
    left: 0px;
    bottom: 0;
    background-color: #fec260;
    transition: height 350ms;
    z-index: -1;
  }
  h1:hover::before {
    height: 68%;
  }
  .bookmark-body{
    border-width: 2px 0 2px 0;
    border-style: dotted;
    border-color: black;
  }
h2{
    font-family: "Righteous", sans-serif;
    font-size: 25px;
    color: #3EA55B;
}
label{
    font-size: 16px;
    font-weight: 600;
}
.btn-submit{
    background-color: #d1512d;
    color: white;
}
.btn-submit:hover{
    background-color:  #bb4120;
    color: white;
}